
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('path/to/your/hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


.main {
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.cars-list {
    padding: 20px;
}

